/* You can add global styles to this file, and also import other style files */
$primary: #7b004e;
$danger: #ff5a5f;
$secondary: #442f6d;
$light: #d3d3d3;
$dark: #090215;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
